DATABASE_URL="postgresql://postgres:password@localhost:5432/upwin_auth?schema=public"
JWT_SECRET="h9ijhg2qwaszxcvghjuy65trfvgnhjmko09iuytr4rfv0okm"

# Google OAuth
GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"

# LinkedIn OAuth
LINKEDIN_CLIENT_ID="linkedin-client-id"
LINKEDIN_CLIENT_SECRET="linkedin-client-secret"

# OAuth Callback URLs
CALLBACK_URL="http://localhost:3008"
PORT=3008

# Mailing
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Upwin Support" <noreply@upwin.com>
FRONTEND_URL=http://localhost:3000